*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 900px;
    margin-top: 20px; 
 
}
h1{
    margin-bottom: 20px;
}
h2{
    margin-left: 80px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
